<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMO</title>
</head>
<body>
    <h1>BMO</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEIOgCVd8BCIFmL_UtFgErOvTE_3BsM4tEhw&usqp=CAU" alt="">
    <p>BMO es un aparato electrónico multipropósito, pues no solamente es el sistema de consola de videojuegos vivo de Finn y Jake, si no que también es un tomacorriente portátil, computadora, reproductor de música, videocasetera, reproductor de video, editor de video, compañero de cuarto, cámara, reloj despertador, tostadora, linterna, luz estroboscópica, patinador, jugador de fútbol, ​​reproductor de cintas, chef, detective y amigo.</p>
<nav><li><a href="/">Inicio</a></li></nav>
</body>
</html>