<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Heroes</h1>
    <nav>
        <ul type="none">
            <li><a href="/bmo">BMO</a></li>
            <li><a href="/itachi">Itachi</a></li>
            <li><a href="/itodori">Itodori</a></li>
            <li><a href="/levi">Levi</a></li>
            <li><a href="/pedro">Pedro</a></li>
            <li><a href="/saitama">Saitama</a></li>
            <li><a href="/shinra">Shinra</a></li>
        </ul>
    </nav>
</body>
</html>